body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

header > div:first-child {
  background-color: #ef5ba1;
}

header > div:first-child > div:after {
  display: table;
  content: "";
  clear: both;
}

header > div:first-child > div {
  width: 985px;
  margin-left: auto;
  margin-right: auto;
}

header > div:first-child > div > ul {
  float: left;
}

header > div:first-child > div a {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

header > div:first-child > div > ul a {
  padding: 12px 6px;
  opacity: .6;
  transition: opacity .5s;
}

header > div:first-child > div > ul a:hover {
  opacity: .9;
}



header > div:first-child > div > a {
  float: right;
  font-weight: bold;
  padding: 13px;
  border-right: 1px solid #F489BC;
  border-left: 1px solid #F489BC;
  background-color: #ef5ba1;
  transition: background-color .4s, color .4s;
}

header > div:first-child > div > a:hover {
  background-color: #fff;
  color: #ef5ba1;
}

header > div:last-child:after {
  content: "";
  display: table;
  clear: both;
}

header > div:last-child {
  width: 985px;
  margin: 40px auto 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px
}

header > div:last-child > a {
  float: left;
}

header > div:last-child > nav {
  float: right;
  margin-top: 10px;
}

header > div:last-child > nav li {
  margin-left: 18px;
}

header > div:last-child > nav a {
  color: #000;
  font-size: 18px;
}

header > div:last-child > nav a.active {
  font-weight: bold;
}