<!DOCTYPE html>
<html>
<head>
  <title>ThoughtWorks</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <div>
      <div>
        <ul>
          <li>
            <a href="#">Español</a>
          </li>
          <li>
            <a href="#">Português</a>
          </li>
          <li>
            <a href="#">Deustch</a>
          </li>
        </ul>

        <a href="contact-us.html">Contact us</a>
      </div>
    </div>

    <div>
      <a href="/">
        <img src="images/logo.png" alt="ThoughtWorks" width="200">
      </a>
      <nav>
        <ul>
          <li>
            <a href="/clients.html" class="active">Clients</a>
          </li>
          <li>
            <a href="/services.html">Services</a>
          </li>
          <li>
            <a href="/products.html">Products</a>
          </li>
          <li>
            <a href="/insights.html">Insights</a>
          </li>
          <li>
            <a href="/events.html">Events</a>
          </li>
          <li>
            <a href="/about-us.html">About us</a>
          </li>
          <li>
            <a href="/careers.html">Careers</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <footer>
    <div>
      <div>
        <section>
          <h3>About ThoughtWorks</h3>
          <p>
            We are a software company and a community of passionate, purpose-led individuals. We think disruptively to deliver technology to address our clients' toughest challenges, all while seeking to revolutionize the IT industry and create positive social change.
          </p>
        </section>

        <section>
          <h3>Connect with us</h3>
          <ul>
            <li>
              <a href="#">
                <img src="images/twitter_footer.png" alt="Twitter">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/facebook_footer.png" alt="Facebook">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/youtube_footer.png" alt="Youtube">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/linkedin_footer.png" alt="LinkedIn">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/weibo_footer.png" alt="Weibo">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/google_plus_footer.png" alt="Google Plus">
              </a>
            </li>
          </ul>

          <p>Sign up for our perspectives newsletter</p>
          <form action="#">
            <input type="email" placeholder="Email">
            <button>
              <img src="images/perspectives_submit.png" alt="Submit">
            </button>
          </form>
        </section>
      </div>

    </div>
  </footer>
</body>
</html>