<!DOCTYPE html>
<html>
<head>
  <title>ThoughtWorks</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <div>
      <div class="centered">
        <ul>
          <li>
            <a href="#">Español</a>
          </li>
          <li>
            <a href="#">Português</a>
          </li>
          <li>
            <a href="#">Deustch</a>
          </li>
        </ul>

        <a href="contact-us.html">Contact us</a>
      </div>
    </div>

    <div class="centered">
      <a href="/">
        <img src="images/logo.png" alt="ThoughtWorks" width="200">
      </a>
      <nav>
        <ul>
          <li>
            <a href="/clients.html" class="active">Clients</a>
          </li>
          <li>
            <a href="/services.html">Services</a>
          </li>
          <li>
            <a href="/products.html">Products</a>
          </li>
          <li>
            <a href="/insights.html">Insights</a>
          </li>
          <li>
            <a href="/events.html">Events</a>
          </li>
          <li>
            <a href="/about-us.html">About us</a>
          </li>
          <li>
            <a href="/careers.html">Careers</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


</body>
</html>